body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,fieldset, lengend, button, input, textarea,th, td {
margin: 0;padding: 0;}
body,button, input, select, textarea { font: 12px/20px Sinsum,Arial; color:#816e59}
address, cite, dfn, em, var { font-style: normal; } 
ul, ol { list-style: none; }
table { border-collapse:collapse; border-spacing: 0;}
td, th,input,textarea,lable, select{ vertical-align: top; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
img{ border:none;}
li img{vertical-align:bottom;}
div,ul, ol, dl, blockquote{overflow:hidden; _zoom:1;}
body{background-color:#d8d4ca}
form{margin:0;padding:0}
/*-- css reset end }--*/
.tc { text-align:center; }
.tr { text-align:right; }
.tl { text-align:left; }
.fl{ float:left; }
.fr{ float:right; }
.hr_5,.hr_10,.hr_15,.hr_20,.hr_25,.hr_30,.hr_8{ clear:both; overflow:hidden;font-size:1px;line-height:1px;}
.hr_5{ height:5px;}
.hr_10{ height:10px;}
.hr_15{ height:15px;}
.hr_20{ height:20px;}
.hr_25{ height:25px;}
.hr_30{ height:30px;}
.hr_8{ height:8px;}
.clearfix{ clear:both; height:1px; overflow:hidden;}
/*-- link --*/
a{text-decoration:none; color:#534134;}
a:hover{color:#FF6600;text-decoration:underline;}


.qq_online {float:right;  font-weight:bold; color:#000; font-size:12px; }
.qq_online img{margin-right:10px;vertical-align:bottom}
.qq_service .qq_expand_collapse {background: url("http://www.caissa.com.cn/share/i/online/kf_online.gif") no-repeat scroll -24px 0 transparent;
	cursor: pointer;
    float: right;
    height: 100px;
    width: 24px;
}
.qq_service .qq_collapse {
    background-position: 0 0;
}
.qq_service .index_qq_online{ width:141px;float: left; border:1px #61523b solid; background:url(http://www.caissa.com.cn/share/i/online/qq_time.gif) bottom no-repeat #fff; padding:10px;  font-size:12px; padding-bottom:80px; color:#806e56;font-weight:lighter;}
.qq_service .index_qq_online p{ height:30px; display:block; margin-top:8px; margin-bottom:8px;}
.qq_service .index_qq_online img{ vertical-align:bottom;}


