@charset "utf-8";
/* CSS Document */
#main{background:url(../images/index_mainbg01.gif) repeat-y; }
#main .bottom{height:4px;background:url(../images/index_mainbg05.gif) no-repeat;clear:both; display:block; overflow:hidden;}

.map{padding:5px 0 5px 21px;}
.map_t{ background:url(../images/Visa_map.jpg) no-repeat; width:958px; height:38px; border:1px solid #ebe9e4;}
.Visa_Content{ width:960px; margin:0 auto;}

.f1,.f2{font-family:Microsoft YaHei;color:#ff0000; z-index:9999}
.f2{font-family:Constantia,Georgia;font-size:18px;}

#Visa_left{ width:730px; float:left;}


/*个人旅游签证*/
.Visa_Search{ background:#f9f8f7;}
.Visa_Search h1,.Visa_hot h1{ font-size:14px; color:#000; background:#ebe9e4; padding:8px 0 0 10px; height:22px; border-bottom:1px solid #fff;}
.Visa_Search_Content,.Visa_Search_hot{ border-top:1px solid #ebe9e4; border-bottom:1px solid #ebe9e4; padding:19px 0 23px 11px;}
.Visa_Search_1{ width:325px; float:left; }
.Visa_Search_Fill_w{width:229px; margin-left:9px; float:left; *margin-left:4px; height:24px; margin-bottom:22px; *margin-bottom:26px;}
.Visa_Search_wz{ text-align:right; width:80px; display:block; float:left;}
.Visa_Search_Fill_1{ width:231px;height:24px; background:url(../images/Visa_bj.gif) no-repeat; border:none; padding-left:3px; *padding-top:3px;color:#ccc;}
.Visa_Search_wz1,.Visa_Search_wz2{ font-weight:bold; padding:1px 0 23px 0; *padding:4px 0 23px 0; display:block;}
.Visa_names{ float:left; width:231px; height:101px;background:url(../images/Visa_bj.gif) no-repeat left -31px; margin-left:9px; padding:4px 0 0 0;}
.Visa_names li a{margin:0 3px; padding:0 3px; line-height:24px; display:block; height:24px;}
.Visa_names li a:hover{ display:block; background:#816e59; color:#fff; text-decoration:none; margin:0 3px; padding:0 3px;}
.Visa_Search_Button{float:left; margin:26px 0 0 164px; _margin:26px 0 0 80px;}
.Visa_Search_Button a{ float:left; width:80px; height:25px; background:url(../images/an.gif) no-repeat left -259px; text-indent:-50px;}

.Top_Visa{ float:left; margin-left:20px;}
.Top_Visa_left{ float:left; font-weight:bold;}
.Top_Visa_wz{line-height:30px; }
.Top_Visa_wz a{ margin-right:19px; }
.Top_Visa_wz strong{ padding-top:1px; display:block; width:43px;}

/*热门签证*/
.Visa_hot{ background:url(../images/xx.jpg) 363px 50px no-repeat #f9f8f7; }
.Visa_Search_hot{ *padding:0 0 23px 0; padding:0 0 10px 0;}
.Visa_hot_left{ float:left; width:345px; margin:6px 0 0 20px; _margin:6px 0 0 10px;}
.Visa_hot_left h1{ font-size:12px; background:none; border:none; padding:8px 0 0 8px;}
.Visa_hot_left li{ width:345px;line-height:30px;}
.Visa_hot_left_Article1,.Visa_hot_left_Article2{ display:block; width:102px; margin-left:8px; _margin-left:5px; float:left;}
.Visa_hot_left_Article2{ width:142px; _width:140px;}
.Flag{ width:345px;}
.Flag img{ border:1px solid #816e59; margin:5px 0;}
.Flag li{  margin:0 25px 0 0;}
.Flag li,.Flag span{ width:90px; float:left; display:block;}
.Flag span{ text-align:center; line-height:18px;}

/***签证答疑***/
.Visa_Q_A{ border:1px solid #ebe9e4;}
.Visa_Q_A h1{ background:#ebe9e4; height:30px;}
.Visa_Q_A span{ font-size:14px; font-weight:bold; color:#000; padding:8px 0 0 8px; display:block; float:left;}

.nTab{float:right; width:330px;}
.nTab .TabTitle{height: 27px;overflow: hidden; padding-top:3px;}
.nTab .TabTitle ul{border:0;margin:0;padding:0;}
.nTab .TabTitle li{float: left;width:63px;font-size: 12px;text-align: center; height:27px; margin:0 8px; padding-top:4px;}
.nTab .TabTitle .active{ border-bottom:none; background:url(../images/an.gif) 0px -523px no-repeat;cursor: pointer;}
.nTab .TabTitle .normal{ font-weight:normal;}
.nTab .TabContent{width:auto;background:#fff;margin: 0px auto;padding:10px 0 0 0;border-right:1px #AACCEE solid;border-left:1px #AACCEE solid;}
.none {display:none;}


.myTab0_Content0_title{ height:30px; border-bottom:1px solid #ebe9e4; background:#f9f8f7; }
.myTab0_Content0_title1,.myTab0_Content0_title2,.myTab0_Content0_title3,.myTab0_Content0_title4{ float:left; padding:10px 0 0 18px; font-size:12px; color:#816e59; display:block; width:350px;}
.myTab0_Content0_title2,.myTab0_Content0_title3,.myTab0_Content0_title4{padding-left:0;}
.myTab0_Content0_title2{width:133px;}
.myTab0_Content0_title3{width:128px;}
.myTab0_Content0_title4{width:90px;}

.myTab0_Content0_Article li{ margin:0 18px; display:block; border-bottom:1px dotted #dfdfdf; height:27px; padding-top:3px;}
.myTab0_Content0_Article span{ font-size:12px; font-weight:normal; float:left; padding-left:0;}
.myTab0_Content0_Article_Article1{ width:350px;}
.myTab0_Content0_Article_Article2{ width:144px;}
.myTab0_Content0_Article_Article3{ width:114px;}
.myTab0_Content0_Article_Article4{ width:70px;}

#Page{ float:right; margin:15px 16px 10px 0;}
#Page span{ display:block; float:left; margin-left:10px;  font-size:12px; font-weight:normal;}
#Page .previous_page a,#Page .next_page a{height:20px; width:50px; text-align:center; display:block;  border:1px solid #dfdfdf; }
#Page .previous_page a:hover,#Page .next_page a:hover{ text-decoration:none; background-color:#534134; color:#fff;}
#Page ul{float:left; margin-top:8px;}
#Page ul li{ float:left;  margin-left:10px; }
#Page ul li a{ display:block; width:20px; height:20px; text-align:center; line-height:20px; border:1px solid #dfdfdf;}
#Page ul li a:hover{ text-decoration:none; background-color:#534134; color:#fff;}
#Page ul li.curr a{ background-color:#534134; color:#fff;}


/*问答及搜索*/
.Know{ width:710px; height:144px; background:#ebe9e4; margin: 0 0 11px 9px;}
.Know_Input_w{ margin:21px 0 0 48px;}
.Know_Input{ width:521px; height:51px; background:url(../images/Visa_bj.gif) left -139px no-repeat; overflow:hidden; border:none; padding:2px 0 0 3px; color:#bbb;}
.Know_Button{ margin:7px auto; width:200px;}
.Know_Button span{ margin-right:25px;}
.Know_Button a{ display:block; text-indent:-80px; overflow:hidden; width:64px; height:23px;}
.Know_Button1 a{ background:url(../images/an.gif) left -464px no-repeat;}
.Know_Button2 a{background:url(../images/an.gif) left -492px no-repeat;}

/*********右边内容*********/
#Visa_right{ float:right; width:220px;}
.Visa_Business,.Visa_Knowledge{ width:198px; border:1px solid #dfdfdf; padding:10px; line-height:20px;}
.Visa_Business h1,.Visa_Knowledge h1{ font-size:14px; color:#000;}
.Visa_Business strong{ width:198px; display:block; padding:12px 0 5px 0;}

.Visa_Knowledge li{line-height:24px; text-indent:10px; background:url(../images/lst_bg.gif) left 12px no-repeat;}
.right_img{ width:220px; height:200px;}

/******************单项签证********************/
.State{}
.State_title{ float:left;}
.State h1{ background:#ebe9e4; height:23px; font-size:14px; padding:7px 0 0 10px;}
.State_Favorites,.State_Print{background:url(../images/Visa_Single.gif) left -21px  no-repeat; width:70px; height:16px; font-size:12px; display:block; float:right; text-indent:20px; font-weight:normal;margin-right:20px;}
.State_Print{background:url(../images/Visa_Single.gif) no-repeat;}
.State_Content{ padding:21px 0 0 23px;}
.State_Content li{ border-bottom:1px dashed #dfdfdf; width:400px; line-height:36px; float:left;}
.State_Content img{ border:1px solid #ebe9e4; float:left;}
.State_Content_Information{ display:block; padding:8px 0 0 21px; }
.State_Content span{ float:left;}
.State_Content1{ width:80px; display:block;}
.ljyd a{ width:80px; height:32px; background:url(../images/an.gif) left -324px no-repeat; display:block; text-indent:-50px; overflow:hidden; margin:10px 0 0 200px;}


/*签证资料*/
.Visa_information{ padding-top:30px;}
.Visa_information_title{ display:block; float:left;width:485px; font-size:14px; font-weight:bold; padding:5px 0 0 10px;}
.Visa_information_Content{}
.Visa_information_Content li{ border-bottom:1px dashed #dfdfdf;}
#Visa_bt{ margin:0 10px; padding:0 35px;}
#Visa_bt td{ border-bottom:1px dashed #dfdfdf; padding:18px; line-height:24px;}

#myTab1{ float:left; }
.nTab01{float:left; width:720px; background: url(../images/xx.gif) 0 59px repeat-x;}
.nTab01 .TabTitle{height:27px;overflow: hidden; padding-top:3px;}
.nTab01 .TabTitle ul{border:0;margin:0;padding:0;}
.nTab01 .TabTitle li{float:left;width:63px;font-size:12px;text-align: center; height:27px; margin:0 3px; padding-top:4px;}
.nTab01 .TabTitle .active{ border-bottom:none; background:#fff;cursor: pointer; border:1px solid #816e59; font-weight:bold;}
.nTab01 .TabTitle .normal{ font-weight:normal; color:#000; border-bottom:none; border:1px solid #816e59;}
.nTab01 .TabContent{width:auto;background:#fff;margin: 0px auto;padding:10px 0 0 0;}
.none {display:none;}


/*特别提示*/
.Tips{ padding-top:40px;}
.Tips h1{ font-size:14px; color:#000; border-bottom:1px solid #816e59; padding-left:10px;}
.Tips ul{ padding:20px 0 0 35px;}
.Tips li{list-style-type: decimal;list-style-position: outside; line-height:30px;}

/*签证国家及类别查询*/
.query{ border:1px solid #dfdfdf; padding:10px; line-height:30px;}
.query h1{ font-size:14px; color:#000;}
.query_Input{ background: url(../images/query_Input.gif) no-repeat; border:none; width:195px; height:23px; *height:21px; padding:1px 0 0 3px; *padding:3px 0 0 3px; color:#999;}
.query_1{ margin-bottom:15px;}
.query_2{ background:url(../images/query_Input.gif) left -31px no-repeat; padding:4px; height:66px; line-height:22px; line-height:30px;}
.query_2 span{ width:180px; line-height:22px; display:block;}
.query_Query a{display:block; width:60px; height:23px; background:url(../images/an.gif) left -554px no-repeat; text-indent:-40px; margin:14px auto 0 auto; overflow:hidden;}

/*订单页*/
.Order{ width:893px; padding:10px 0 5px 15px; border:1px solid #816e59; background:#fff; height:85px;}
.Order_1,.Order_2,.Order_3,.Order_4{ width:340px; display:block; float:left; line-height:28px;}
.Order_2{width:200px;}
.Order_4{ width:220px;}
.Date{ background: url(../images/query_Input.gif) left -108px no-repeat; border:none; width:128px; height:23px; padding:1px 0 0 3px;}
.Help a{ width:15px; height:15px; background:url(../images/query_Input.gif) -183px -117px no-repeat; display:block; overflow:hidden; margin-top:6px; *margin-top:10px; text-indent:-25px;}
.Order_x{ padding:5px 0; height:30px; }
.Order_x select{ _margin-bottom:1px;}
.Order_Price{ display:block; margin-top:-8px; float:right; margin-right:8px;}
.Order_Price em{ color:#ff0000;}
.Quantity{ width:40px;}

/*填写表单*/
.Order_Fill{ padding:30px 0 30px 93px;}
.Order_Fill li span{ font-size:12px;}
.Order_Fill li{ height:40px;}
.Order_Fill_1,.Order_Fill_2{ background:url(../images/query_Input.gif) left -108px no-repeat; width:128px; height:23px; border:none; padding:1px 0 0 3px; *padding:3px 0 0 3px; margin-left:5px;}
.Order_Fill_2{ background:url(../images/query_Input.gif) left top no-repeat; width:195px;}
.Order_Fill_3{ float:right;}
.Order_Fill_3 a{ width:79px; height:32px; text-indent:-50px; background:url(../images/an.gif) left -145px no-repeat; display:block; overflow:hidden; *margin-top:-20px;}
.Order_Fill_4{ width:320px;}
.Statement{ width:764px; height:155px; border:1px solid #c4c4c4; margin-top:23px; padding:12px; }
.Statement li{ margin:5px 0 0 20px; line-height:30px; height:60px;	list-style-position: outside; list-style-type: decimal;}
.Statement em{ font-size:14px;}


/*国家页面*/
.State_Form{}
.State_Form h1{ font-size:14px; color:#000; background:#ebe9e4; padding:7px 0 0 10px; height:23px;}
#State_Form_bt{ margin:20px auto;}
.State_Form td{ border-bottom:1px dashed #ddd; line-height:36px;}
.State_Form td a{ margin:0 8px;}

.Visa_For{ padding-bottom:20px;}
.Visa_For h1{ font-size:14px; color:#000; background:#ebe9e4; padding:7px 0 0 10px; height:23px; border-bottom:1px solid #fff;}
.Visa_For h1 em{ float:left}
.Visa_For h1 span{ margin:0 10px; display:block;float:left}
.Visa_For_bj{ border:1px solid #ebe9e4; border-left:none; border-right:none;background:#f9f8f7; padding:0 0 30px 20px; line-height:25px;}
.Visa_For_bj strong{ padding-top:15px; display:block;}
.Information_1{ width:656px; height:120px; background:#ebe9e4; padding:17px; }
.Information_1 ul li{ clear:both;}
.Information_1 ul li span{ width:186px; float:left; display:block; line-height:20px;}
.Information_an{ float:right; *margin-top:-20px;}
.Information_an a{ display:block; float:left; width:70px;}
.Information_an a.Information_anwz{ width:64px; height:23px; background:url(../images/an.gif) left -436px no-repeat; text-indent:-9999px;overflow:hidden; margin-left:5px;}


/*预定成功页（不可支付）*/
.Book_Tips{ padding:20px 0 0 25px; display:block; float:left; width:805px;}
.Book_Tips a{ width:80px; height:32px; background:url(../images/an.gif) left -324px no-repeat; text-indent:-50px; overflow:hidden; display:block; float:right; }
.Book_Contact{ padding:28px 0 0 25px; font-weight:bold; border-bottom:1px solid #816e59;}
.Book_Tips2 b{ display:block; }
.Book_Tips2{ padding:30px; font-size:14px; line-height:35px; border-bottom:1px solid #816e59;}
.qrtj{ margin:42px auto; width:102px; height:32px;}
.qrtj a{ margin:0 auto; width:102px; height:32px; background:url(../images/an.gif) left -398px no-repeat; display:block; text-indent:-50px;}

.Visa_Payment{ padding:10px 0 0 22px; font-weight:bold;}
.qrzbzf{ width:102px; height:32px; margin:20px 0 30px 28px;}
.qrzbzf a{ margin:0 auto; width:102px; height:32px; background:url(../images/an.gif) left -108px no-repeat; display:block; text-indent:-50px;}

/*签证首页弹出框*/
.Visa_index{ border:1px solid #dfdfdf;}
.Pop{border:1px solid #fff; width:526px; height:384px;}

#Popupbox_bg{ position:absolute; top:0; background-color:#000; left:0; display:none;}
#Popbox{background:url(../images/ss.jpg) repeat-x #fff; position:absolute; width:528px; height:386px; display:none; z-index:999;}
.Pop_title{ background:url(../images/Pop.jpg) no-repeat; height:54px;}
.Pop_xx a{ background:url(../images/x.jpg) no-repeat; width:23px; height:23px; display:block; float:right; margin:9px 9px 0 0; text-indent:-25px; overflow:hidden;}
.Pop_Content{ margin:0 auto; width:508px; border-top:1px solid #524235; padding-top:20px;}
#Pop_Content_table td{ height:40px;}
#Pop_Content_table td em{ border:1px solid #ccc; display:block; float:left; margin-left:5px;}
#Pop_Content_table a{ line-height:30px;}
.Pop_Content span{ padding-left:19px;}
.Pop_sr1,.Pop_sr2,.Pop_sr3,.Pop_sr4,.Pop_sr5{ background: url(../images/Pop.gif) left top no-repeat; border:none; width:367px; height:22px; padding:2px 0 0 3px;}
.Pop_sr2{background: url(../images/Pop.gif) left -27px no-repeat;  height:95px; }
.Pop_sr3{ background:url(../images/Pop.gif) left -126px no-repeat; width:110px;}
.Pop_sr4{ background:url(../images/Pop.gif) left -186px no-repeat; width:190px;}
.Pop_sr5{background:url(../images/Pop.gif) left -155px no-repeat;width:67px; float:left;}
.Pop_sr_an a{ background:url(../images/an.gif) left -361px no-repeat; display:block; margin:0 auto; width:80px; height:32px; text-indent:-50px; overflow:hidden; margin-top:10px;}


#Popbox1{background:url(../images/ss.jpg) repeat-x #fff; position:absolute; width:636px; height:386px; display:none; z-index:999;}
.Pop1{ border:1px solid #fff; width:634px; height:384px;}
.Pop_Content1{ margin:32px 0 0 24px; float:left; width:236px;background:url(../images/Pop2.jpg) no-repeat; padding-top:30px;}
.Pop_title1{ background:url(../images/Pop1.jpg) no-repeat; height:54px;}

.zcdl,.zcdl_yz{ background:url(../images/Pop.gif) left -216px no-repeat; border:none; height:22px; width:168px; padding:2px 0 0 3px;}
.zcdl_yz{ background:url(../images/Pop.gif) left -155px no-repeat; width:64px; padding:2px 0 0 3px; float:left;}
#zcdl_bt td{ height:35px;}
#zcdl_bt td img{ border:1px solid #ccc; margin-left:5px;}
.tytk{ margin-top:10px;}
.zcdl_an a{ width:80px; height:33px; background:url(../images/an.gif) left -584px no-repeat; display:block; text-indent:-50px; margin:10px auto; overflow:hidden;}
.zcdl_right{ width:250px; background: url(../images/Pop3.jpg) 13px 11px no-repeat #ececec; float:right; margin:20px 10px 0 0; height:240px; padding-top:50px;}


#zcdl_bt2{ margin-left:13px;}
#zcdl_bt2 td{ height:35px;}
.zcdl_x,.zcdl_s{ background:url(../images/Pop.gif) left -246px no-repeat; border:none; height:22px; width:128px; padding:2px 0 0 3px;}
.zcdl_s{ background:url(../images/Pop.gif) left -155px no-repeat;  width:64px; float:left;}
#zcdl_bt2 td img{ border:1px solid #ccc; margin-left:5px;}
.zcdl_right_an a{ width:80px; height:33px; background:url(../images/an.gif) left -182px no-repeat; display:block; text-indent:-50px; margin:23px auto 17px auto; overflow:hidden;}
.zcdl_right_an{ border-bottom:1px solid #000; margin-bottom:5px;}

























