@charset "utf-8";
/* CSS Document */

/*通用背景*/


/*主体*/
.article_box		{ width:100%; float:left;}
.article			{ width:980px; margin:0 auto; overflow:hidden;}

/*左半部*/
.article_left		{ width:720px; overflow:hidden; float:left;}
.article_mainbav						{ width:720px; height:32px; padding:0 0 0 1px; color:#ac3666; line-height:31px; overflow:hidden; float:left;}
.article_mainbav a						{ color:#333333;}
.article_mainbav a:hover				{ color:#ff6633;}
.article_title							{ width:700px; height:34px; padding:30px 0 0 0; text-align:center; font-family:"黑体"; font-size:20px; font-weight:bold; overflow:hidden; float:left;}
.article_info							{ width:700px; height:80px; text-align:center; color:#999999; overflow:hidden; float:left;}
.article_info em						{ color:#666666;}
.article_cont							{ width:700px; line-height:24px; overflow:hidden; float:left;}

/*内容页码*/
.pagelist			{ width:700px; height:30px; margin:80px 0 0 0; display:inline; padding:5px 0 5px 0; text-align:center; overflow:hidden; float:left;}
.pagelist li							{ margin:0 3px; display:inline; color:#FFF; overflow:hidden;}
.pagelist .thisclass a					{ padding:3px 7px; background-color:#d22b70; border:#e1e1e1 1px solid; color:#FFF;}
.pagelist li a							{ padding:3px 7px; border:#e1e1e1 1px solid; background-color:#FFF; color:#666666;}	
.pagelist li a:hover					{ background-color:#d22b70; color:#FFF; text-decoration:none;}

/*右半部*/
.article_right		{ width:250px; overflow:hidden; float:right;}
.article_zxgg							{ width:248px; height:252px; margin:10px 0 0 0; display:inline; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.article_zxgg span						{ width:248px; height:28px; background:url(../images/index_right_right_bav_bg.png) repeat-x; border-bottom:1px solid #e1e1e1; line-height:28px; overflow:hidden; float:left;}
.article_zxgg span em					{ height:28px; padding:0 0 0 10px; overflow:hidden; float:left;}
.article_zxgg span i					{ height:28px; padding:0 13px 0 0; overflow:hidden; float:right;}
.article_zxgg ul						{ width:238px; margin:10px 0 0 10px; display:inline; overflow:hidden; float:left;}
.article_zxgg ul li						{ width:220px; padding:2px 0 0 7px; background:url(../images/index_right_right_point.png) no-repeat 0 12px; line-height:22px; overflow:hidden; float:left;}
.article_zxgg ul li a					{ color:#333333;}
.article_zxgg ul li a:hover				{ color:#ff6633;}
.article_right dl						{ width:248px; border:#e1e1e1 1px solid; margin:10px 0 0 0; display:inline; float:right;}
.article_right dt						{ width:248px; height:30px; line-height:30px; text-align:left; font-size:14px; color:#FFFFFF; background-color:#ac3767; float:left;}
.article_right dt span					{ width:36px; height:30px; background:url(../images/cty_rmlxtj_hot.png) no-repeat 4px 3px ; float:left;}
.article_right dd						{ width:248px; height:411px; overflow:hidden; float:left;}
.article_right dd li					{ width:234px; height:195px; line-height:22px; margin:10px 0 0 7px; display:inline; border-bottom:#CCCCCC 1px dotted; float:left;}
.article_right dd li img				{ margin:0 0 4px; display:inline; border:#f4f4f5 1px solid; float:left;}
.article_right dd li span				{ color:#ec3911; font-size:14px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.article_right ol						{ width:250px; padding:10px 0 0 0; float:left;}
.article_right ol li					{ width:250px; padding:0 0 10px 0; float:left;}
.article_right ol li img				{ float:left;}