@charset "utf-8";
/* CSS Document */

/*我的订单*/
.center_wddd_dingdan	{ width:748px; padding:0 0 57px 0; overflow:hidden; float:left;}
.center_wddd_dingdan span					{ width:731px; height:26px; margin:20px 0 10px 0; display:inline; padding:0 0 0 17px; background:#eeeeee; color:#ff6635; line-height:26px; overflow:hidden; float:left;}