@charset "utf-8";
/* CSS Document */

/*通用背景*/
.center_index_data dt h2 a	{ background:url(../images/all_bg.png) no-repeat;}

/*首页个人资料*/
.center_index_data		{ width:748px; height:120px; padding:15px 0 0 0; border-bottom:1px solid #e6e6e6; overflow:hidden; float:left;}
.center_index_data dd					{ width:100px; height:100px; margin:0 20px 0 0; display:inline; overflow:hidden; float:left;}
.center_index_data dt					{ width:550px; height:100px; overflow:hidden; float:left;}
.center_index_data dt h1				{ width:550px; height:28px; line-height:28px; font-size:14px; color:#666666; overflow:hidden; float:left;}
.center_index_data dt h1 b				{ font-size:16px; color:#333333;}
.center_index_data dt h2				{ width:550px; height:22px; line-height:22px; overflow:hidden; float:left;}
.center_index_data dt h2 em				{ height:22px; color:#666666; overflow:hidden; float:left;}
.center_index_data dt h2 i				{ height:22px; color:#30527f; overflow:hidden; float:left;}
.center_index_data dt h2 a				{ width:64px; height:22px; margin:0 0 0 10px; display:inline; background-position:-144px -580px; overflow:hidden; float:left;}
.center_index_data dt h2 a:hover		{ background-position:-144px -602px;}
.center_index_data dt h2 u				{ height:22px; color:#ff6600; overflow:hidden; float:left;}

/*首页订单*/
.center_index_dingdan	{ width:748px; overflow:hidden; float:left;}
.center_index_dingdan dl				{ width:743px; height:44px; padding:0 5px 0 0; line-height:54px; overflow:hidden; float:left;}
.center_index_dingdan dl dd				{ height:44px; font-weight:bold; color:#333333; overflow:hidden; float:left;}
.center_index_dingdan dl dt				{ height:44px; overflow:hidden; float:right;}
.center_index_dingdan dl dt a			{ color:#30527f;}
.center_index_dingdan dl dt a:hover		{ color:#ff6633;}

/*热卖推荐*/
.center_index_rmtj		{ width:748px; padding:0 0 30px 0; overflow:hidden; float:left;}
.center_index_rmtj em					{ width:748px; height:44px; border-bottom:1px solid #e6e6e6; font-weight:bold; color:#333333; line-height:54px; overflow:hidden; float:left;}
.center_index_rmtj #container 			{ width:748px; position:relative; padding:13px 0 0 0; float:left;}
.center_index_rmtj #loopedCarousel 		{ width:748px; position:relative; clear:both; float:left;}
.center_index_rmtj .container 			{ height:161px; position:relative; overflow:hidden;}
.center_index_rmtj .slides 				{ position:absolute; top:0; left:0;}
.center_index_rmtj .slides li 			{ width:257px; height:166px; overflow:hidden; display:none;}
.center_index_rmtj .slides li span a	{ width:232px; height:116px; border:1px solid #f4f4f4; overflow:hidden; float:left;}
.center_index_rmtj ul.pagination 		{ position:absolute; top:-29px; right:3px; }
.center_index_rmtj ul.pagination li 	{ margin:0 2px; float:left;}	
.center_index_rmtj ul.pagination a 		{ width:7px; height:7px; display:block; text-indent:-999999px; background:url(../images/center_index_pagination_bg.png) no-repeat -7px 0; overflow:hidden;}
.center_index_rmtj ul.pagination li.active a { background:url(../images/center_index_pagination_bg.png) no-repeat 0 0;}
.center_index_rmtj h1	 				{ width:234px; height:28px; line-height:28px; overflow:hidden; float:left;}
.center_index_rmtj h1 a					{ color:#676664;}
.center_index_rmtj h1 a:hover			{ color:#ff6633;}
.center_index_rmtj h2					{ width:234px; height:16px; color:#333333; overflow:hidden; float:left;}
.center_index_rmtj h2 b					{ font-family:"微软雅黑", "黑体"; font-weight:normal; color:#ff6600;}