@charset "utf-8";
/* CSS Document */

/*通用背景*/
.cty_rmmdd em,
.cty_rmyj em,
.cty_wgl em,
.cty_xltj i span a		{ background:url(../images/all_bg.png) no-repeat;}

/*主体*/
.cty_box		{ width:100%; float:left;}
.cty			{ width:980px; margin:0 auto; overflow:hidden;}

/*左边部分*/
.cty_left		{ width:250px; margin:9px 0 0 0; display:inline; overflow:hidden; float:left;}

/*热门目的地*/
.cty_rmmdd		{ width:248px; height:642px; background:#fafafa; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.cty_rmmdd em						{ width:248px; height:32px; background-position:0 -60px; overflow:hidden; float:left;}
.cty_rmmdd ul						{ width:248px; border-bottom:2px solid #ac3666; overflow:hidden; float:left;}
.cty_rmmdd ul li					{ width:228px; margin:0 0 0 10px; display:inline; padding:0 0 0 1px; border-bottom:1px solid #e8e8e8; overflow:hidden; float:left;}
.cty_rmmdd ul li b					{ width:228px; height:32px; font-size:14px; color:#ac3666; line-height:33px; overflow:hidden; float:left;}
.cty_rmmdd ul li h1					{ width:70px; height:22px; overflow:hidden; float:left;}
.cty_rmmdd ul li h1 a				{ color:#404040;}
.cty_rmmdd ul li h1 a:hover			{ color:#ff6633;}
.cty_rmmdd ol						{ width:248px; overflow:hidden; float:left;}
.cty_rmmdd ol li					{ width:228px; margin:0 0 0 10px; display:inline; padding:1px 0 0 1px; border-bottom:1px solid #e8e8e8; overflow:hidden; float:left;}
.cty_rmmdd ol li b					{ width:228px; height:38px; font-size:14px; color:#ac3666; line-height:33px; overflow:hidden; float:left;}
.cty_rmmdd ol li h1					{ width:108px; height:26px; overflow:hidden; float:left;}
.cty_rmmdd ol li h1 a				{ color:#404040;}
.cty_rmmdd ol li h1 a:hover			{ color:#ff6633;}
.cty_rmmdd ol li h2					{ width:69px; height:26px; overflow:hidden; float:left;}
.cty_rmmdd ol li h2 a				{ color:#404040;}
.cty_rmmdd ol li h2 a:hover			{ color:#ff6633;}

/*热门游记*/
.cty_rmyj			{ width:248px; height:373px; margin:10px 0 0 0; display:inline; background:#fafafa; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.cty_rmyj em						{ width:248px; height:32px; background-position:0 -124px; overflow:hidden; float:left;}
.cty_rmyj i							{ width:230px; height:178px; margin:10px 0 0 9px; display:inline; border-bottom:1px dotted #9f9f9f; overflow:hidden; float:left;}
.cty_rmyj i p						{ width:230px; height:101px; overflow:hidden; float:left;}
.cty_rmyj i h1						{ width:206px; height:31px; padding:0 0 0 12px; font-weight:bold; line-height:34px; overflow:hidden; float:left;}
.cty_rmyj i h1 a					{ color:#3e3e3e;}
.cty_rmyj i h1 a:hover				{ color:#ff6633;}
.cty_rmyj i h2						{ width:206px; height:34px; padding:0 0 0 12px; color:#9f9f9f; line-height:18px; overflow:hidden; float:left;}
.cty_rmyj ul						{ width:206px; padding:0 0 0 21px; overflow:hidden; float:left;}
.cty_rmyj ul li						{ width:206px; height:27px; line-height:41px; overflow:hidden; float:left;}
.cty_rmyj ul li a					{ color:#3e3e3e;}
.cty_rmyj ul li a:hover				{ color:#ff6633;}

/*微攻略*/
.cty_wgl			{ width:248px; height:255px; margin:10px 0 0 0; display:inline; background:#fafafa; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.cty_wgl em							{ width:248px; height:32px; background-position:0 -301px; overflow:hidden; float:left;}

/*右边部分*/
.cty_right	{ width:720px; margin:10px 0 0 0; display:inline; overflow:hidden; float:right;}

/*右边焦点部分*/
.cty_right_focus	{ width:720px; height:299px; overflow:hidden; float:left;}

/*热门路线推荐*/
.cty_rmlxtj			{ width:188px; height:297px; border:1px solid #e1e1e1; overflow:hidden; float:right;}
.cty_rmlxtj em						{ width:152px; height:30px; padding:0 0 0 36px; background:#ac3767 url(../images/cty_rmlxtj_hot.png) no-repeat 4px 3px; font-size:14px; color:#FFF; line-height:29px; overflow:hidden; float:left;}
.cty_rmlxtj ul						{ width:174px; height:263px; padding:5px 0 0 7px; overflow:hidden; float:left;}
.cty_rmlxtj ul li					{ width:174px; height:19px; padding:7px 0; overflow:hidden; float:left;}
.cty_rmlxtj ul li i					{ width:33px; height:19px; margin:0 10px 0 0; display:inline; overflow:hidden; float:left;}
.cty_rmlxtj ul li h2				{ width:131px; height:19px; line-height:17px; overflow:hidden; float:left;}
.cty_rmlxtj ul li h2 a				{ color:#656565;}
.cty_rmlxtj ul li h2 a:hover		{ color:#ff6633;}

/*线路推荐*/
.cty_xltj			{ width:718px; height:237px; margin:10px 0 0 0; display:inline; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.cty_xltj strong					{ width:718px; height:34px; background:url(../images/index_son_bav_bg.png) repeat-x; font-weight:normal; overflow:hidden; float:left;}
.cty_xltj strong b					{ height:16px; margin:8px 0 0 10px; display:inline; overflow:hidden; float:left;}
.cty_xltj strong em					{ height:34px; padding:0 11px 0 26px; line-height:32px; overflow:hidden; float:right;}
.cty_xltj strong em a				{ color:#cccccc;}
.cty_xltj strong em a:hover			{ color:#ff6633;}
.cty_xltj strong span				{ height:34px; color:#cccccc; line-height:32px; overflow:hidden; float:right;}
.cty_xltj i							{ width:696px; height:79px; padding:13px 0 0 10px; overflow:hidden; float:left;}
.cty_xltj i p						{ width:106px; height:64px; border:1px solid #e6e6e6; overflow:hidden; float:left;}
.cty_xltj i em						{ width:451px; height:71px; padding:0 0 0 22px; overflow:hidden; float:left;}
.cty_xltj i em h1					{ width:451px; height:24px; line-height:24px; overflow:hidden; float:left;}
.cty_xltj i em h1 a					{ font-size:14px; font-weight:bold; color:#333333;}
.cty_xltj i em h1 a:hover			{ color:#ff6633;}
.cty_xltj i em h2					{ width:451px; height:21px; color:#666666; line-height:24px; overflow:hidden; float:left;}
.cty_xltj i em h3					{ width:451px; height:19px; color:#816e59; line-height:24px; overflow:hidden; float:left;}
.cty_xltj i em h3 b					{ color:#534134;}
.cty_xltj i span					{ width:100px; height:64px; text-align:right; overflow:hidden; float:right;}
.cty_xltj i span h3					{ width:100px; height:19px; font-family:"黑体"; color:#666666; line-height:24px; overflow:hidden; float:right;}
.cty_xltj i span h3 b				{ font-size:18px; color:#d22b70;}
.cty_xltj i span pre				{ width:100px; height:22px; color:#676667; line-height:20px; overflow:hidden; float:right;}
.cty_xltj i span a					{ width:80px; height:23px; background-position:-67px -186px; overflow:hidden; float:right;}
.cty_xltj i span a:hover			{ background-position:-67px -209px;}
.cty_xltj ul						{ width:697px; height:109px; padding:0 0 0 10px; overflow:hidden; float:left;}
.cty_xltj ul li						{ width:697px; height:21px; padding:4px 0 0 0; border-top:1px dotted #dfdfdf; line-height:16px; _line-height:17px; overflow:hidden; float:left;}
.cty_xltj ul li span				{ width:54px; height:17px; margin:0 8px 0 0; display:inline; background:#ac3666; text-align:center; color:#FFF; overflow:hidden; float:left;}
.cty_xltj ul li em					{ width:550px; height:17px; overflow:hidden; float:left;}
.cty_xltj ul li em a				{ color:#333333;}
.cty_xltj ul li em a:hover			{ color:#ff6633;}
.cty_xltj ul li h3					{ width:70px; height:17px; color:#666666; overflow:hidden; float:right;}
.cty_xltj ul li h3 b				{ font-weight:normal; color:#d22b70;}