@charset "utf-8";
/* CSS Document */

/*通用背景*/
.cty_article_infos dt b a,
.cty_article_dyxcd,
.cty_article_cklyht,
.cty_article_cont_title i,
.cty_article_dryj ul li ol		{ background:url(../images/all_bg.png) no-repeat;}

/*主体*/
.cty_box		{ width:100%; float:left;}
.cty			{ width:980px; margin:0 auto; overflow:hidden;}

.cty_article_mainbav					{ width:979px; height:32px; padding:0 0 0 1px; color:#ac3666; line-height:31px; overflow:hidden; float:left;}
.cty_article_mainbav a					{ color:#333333;}
.cty_article_mainbav a:hover			{ color:#ff6633;}
.cty_article_lc							{ width:980px; height:40px; background:url(../images/cty_article_lc_bg.jpg) no-repeat; overflow:hidden; float:left;}
.cty_article_title						{ width:561px; height:49px; background:url(../images/cty_article_title_bg.png) no-repeat 0 16px; overflow:hidden; float:left;}
.cty_article_title h1					{ height:49px; padding:0 3px 0 55px; font-size:18px; font-weight:bold; color:#333333; line-height:52px; _line-height:54px; overflow:hidden; float:left;}
.cty_article_title img					{ width:33px; height:19px; margin:16px 0 0 12px; display:inline; overflow:hidden; float:left;}
.cty_article_infos						{ width:980px; padding:0 0 19px 0; overflow:hidden; float:left;}
.cty_article_infos dd					{ width:578px; float:left;}
.cty_article_infos dd i					{ width:561px; height:128px; float:left;}
.cty_article_infos dd i p				{ width:232px; height:116px; overflow:hidden; float:left;}
.cty_article_infos dd i h2				{ width:318px; height:42px; padding:0 0 0 11px; float:left;}
.cty_article_infos dd i h2 em			{ height:42px; padding:0 4px 0 0; font-family:Tahoma; color:#333333; letter-spacing:0.09em; overflow:hidden; float:left;}
.cty_article_infos dd i h2 em span		{ font-size:28px; color:#fa741b;}
.cty_article_infos dd i h2 em b			{ font-size:34px; font-weight:normal; color:#fa741b;}
.cty_article_infos dd i h2 a			{ margin:23px 0 0 15px; display:inline; color:#8b9f62; line-height:15px; position:relative; float:left;}
.cty_article_infos dd i h2 a:hover		{ color:#ff6633;}
.cty_article_infos dd i h2 a span		{ width:332px; padding:5px 0 0 0; background:url(../images/cty_zyx_article_tanchu_bg.png) no-repeat; position:absolute; top:18px; left:-5px; z-index:999; overflow:hidden; display:none;}
.cty_article_infos dd i h2 a span b		{ width:300px; padding:15px; background:#feffe9; border:1px solid #ffcc00; border-top:none; font-weight:normal; color:#333333; line-height:20px; overflow:hidden; float:left;}
.cty_article_infos dd i h3				{ width:317px; height:32px; padding:0 0 0 12px; color:#666666; line-height:32px; overflow:hidden; float:left;}
.cty_article_infos dd i h3 em			{ color:#333333;}
.bdshare_t								{ padding:0 0 0 12px; color:#666666; overflow:hidden; float:left;}
.bdshare_t em							{ line-height:26px; _line-height:27px; overflow:hidden; float:left;}
.cty_article_infos dd ol				{ width:561px; padding:0 0 8px 0; overflow:hidden; float:left;}
.cty_article_infos dd ol em				{ width:561px; height:26px; margin:0 0 6px 0; display:inline; border-bottom:1px solid #ac3666; overflow:hidden; float:left;}
.cty_article_infos dd ol em i			{ width:120px; height:26px; background:#ac3666; text-align:center; font-family:"微软雅黑"; font-size:14px; color:#FFF; line-height:25px; overflow:hidden; float:left;}
.cty_article_infos dd ol li				{ width:537px; height:30px; margin:0 0 0 11px; display:inline; padding:0 0 0 13px; background:url(../images/index_right_right_point.png) no-repeat 0 13px; color:#343432; line-height:28px; overflow:hidden; float:left;}
.cty_article_infos dt					{ width:402px; overflow:hidden; float:right;}
.cty_article_infos dt .cty_rilitijoa i	{ margin:25px 0 0 0; display:inline; color:#666666; overflow:hidden; float:left;}
.cty_article_infos dt .cty_rilitijoa b	{ width:113px; height:35px; margin:10px 0 0 0; display:inline; overflow:hidden; float:right;}
.cty_article_infos dt .cty_rilitijoa b a{ width:113px; height:35px; background-position:-135px -333px; overflow:hidden; float:left;}
.cty_article_infos dt .cty_rilitijoa b a:hover	{ background-position:-135px -368px;}
.cty_article_cont						{ width:980px; overflow:hidden; float:left;}
.cty_article_cont em					{ width:979px; height:26px; padding:0 1px 0 0; border-bottom:1px solid #ac3666; overflow:hidden; float:left;}
.cty_article_cont em b					{ width:120px; height:26px; background:#ac3666; text-align:center; font-size:16px; color:#FFF; line-height:27px; overflow:hidden; float:left;}
.cty_article_cont em i					{ height:26px; padding:0 0 0 12px; color:#fe0000; line-height:25px; overflow:hidden; float:left;}
.cty_article_cont em a					{ width:105px; height:23px; margin:1px 0 0 10px; display:inline; overflow:hidden; float:right;}
.cty_article_dyxcd						{ background-position:-135px -426px;}
.cty_article_dyxcd:hover				{ background-position:-135px -472px;}
.cty_article_cklyht						{ background-position:-135px -403px;}
.cty_article_cklyht:hover				{ background-position:-135px -449px;}
.cty_article_cont ul					{ width:980px; padding:22px 0 0 0; overflow:hidden; float:left;}
.cty_article_cont ul li					{ width:980px; padding:0 0 50px 0; overflow:hidden; float:left;}
.cty_article_cont_title					{ width:980px; height:38px; overflow:hidden; float:left;}
.cty_article_cont_title i				{ width:66px; height:38px; padding:0 0 0 8px; background-position:-147px -186px; font-size:14px; font-weight:bold; color:#ff6800; letter-spacing:0.2em; line-height:38px; overflow:hidden; float:left;}
.cty_article_cont_title h1				{ width:850px; height:38px; padding:0 0 0 21px; font-size:14px; font-weight:bold; color:#343434; line-height:38px; overflow:hidden; float:left;}
.cty_article_cont_infos					{ width:884px; height:32px; margin:12px 0 0 94px; display:inline; background:#fffff7; border:1px solid #ffd09c; color:#686868; line-height:32px; overflow:hidden; float:left;}
.cty_article_cont_infos b				{ padding:0 0 0 15px;}
.cty_article_cont_cont					{ width:884px; margin:14px 0 0 94px; display:inline; color:#343434; line-height:24px; overflow:hidden; float:left;}
.cty_article_explain					{ width:980px; margin:20px 0 0 0; display:inline; overflow:hidden; float:left;}
.cty_article_explain .tabContainer		{ width:980px; height:26px; border-bottom:1px solid #ac3666; overflow:hidden; float:left;}
.cty_article_explain .tabContainer ul	{ width:980px; height:26px; overflow:hidden; float:left;}
.cty_article_explain .tabContainer li	{ float:left;}
.cty_article_explain .tabContainer li a	{ width:90px; height:26px; margin:0 10px 0 0; display:inline; background:#eeeeee; text-align:center; font-size:14px; line-height:29px; overflow:hidden; float:left;}
.cty_article_explain .tabContainer li.currentBtn a	{ background:#ac3666;}
.cty_article_explain .tabBody			{ width:978px; border:1px solid #e1e1e1; border-top:none; position:relative; overflow:hidden; overflow-y:scroll;}
.cty_article_explain .tabBody ul		{ position:absolute;}
.cty_article_explain .tabBody ul li		{ width:938px; color:#333333; line-height:24px; overflow:hidden; float:left;}
.cty_article_dryj						{ width:980px; margin:10px 0 0 0; display:inline; padding:0 0 10px 0; overflow:hidden; float:left;}
.cty_article_dryj em					{ width:980px; height:26px; border-bottom:1px solid #ac3666; overflow:hidden; float:left;}
.cty_article_dryj em i					{ width:122px; height:26px; background:#ac3666; text-align:center; font-size:16px; font-weight:bold; color:#FFF; line-height:27px; overflow:hidden; float:left;}
.cty_article_dryj em a					{ height:26px; padding:0 11px 0 0; color:#666666; line-height:27px; overflow:hidden; float:right;}
.cty_article_dryj em a:hover			{ color:#ff6633;}
.cty_article_dryj ul					{ width:980px; overflow:hidden; float:left;}
.cty_article_dryj ul li					{ width:980px; height:115px; padding:15px 0; border-bottom:1px solid #e6e6e6; overflow:hidden; float:left;}
.cty_article_dryj ul li p				{ width:175px; height:115px; overflow:hidden; float:left;}
.cty_article_dryj ul li span			{ width:491px; height:115px; padding:0 0 0 28px; overflow:hidden; float:left;}
.cty_article_dryj ul li span h1			{ width:491px; height:28px; line-height:17px; overflow:hidden; float:left;}
.cty_article_dryj ul li span h1 a		{ font-size:14px; font-weight:bold; color:#333333;}
.cty_article_dryj ul li span h1 a:hover	{ color:#ff6633;}
.cty_article_dryj ul li span h2			{ width:491px; height:18px; color:#999999; line-height:16px; overflow:hidden; float:left;}
.cty_article_dryj ul li span h2 b		{ font-weight:normal; color:#c03e72;}
.cty_article_dryj ul li span h3			{ width:491px; height:38px; padding:12px 0 0 0; color:#666666; line-height:18px; overflow:hidden; float:left;}
.cty_article_dryj ul li span h3 b		{ font-weight:normal; color:#00718f;}
.cty_article_dryj ul li span h3 b a		{ color:#00718f;}
.cty_article_dryj ul li span h3 b a:hover	{ color:#ff6633;}
.cty_article_dryj ul li ol				{ width:225px; height:83px; margin:29px 2px 0 0; display:inline; padding:2px 0 0 17px; background-position:0 -495px; overflow:hidden; float:right;}
.cty_article_dryj ul li ol li			{ width:216px; height:16px; margin:8px 0 0 0; display:inline; padding:0; border:none; overflow:hidden; float:left;}
.cty_article_dryj ul li ol li b			{ width:16px; height:16px; overflow:hidden; float:left;}
.cty_article_dryj ul li ol li h1		{ width:195px; height:16px; padding:0 0 0 5px; color:#999999; line-height:16px; _line-height:17px; overflow:hidden; float:left;}
.cty_article_dryj ul li ol li h1 a		{ color:#0066cb;}
.cty_article_dryj ul li ol li h1 a:hover{ color:#ff6633;}