@charset "utf-8";
/* CSS Document */

/*通用背景*/
.index_rmmdd em,
.index_rqphb i,
.index_rmyj em,
.index_hzyh em,
.index_right_notice,
.index_jxzdy dl dd,
.index_tszty .tabContainer em,
.index_xlcty .tabContainer em,
.index_hlzyx_nav em,
.index_gltj_nav em	{ background:url(../images/all_bg.png) no-repeat;}

/*主体*/
.index_box	{ width:100%; float:left;}
.index		{ width:980px; margin:0 auto; overflow:hidden;}

/*左边部分*/
.index_left		{ width:250px; margin:9px 0 0 0; display:inline; overflow:hidden; float:left;}

/*热门目的地*/
.index_rmmdd		{ width:248px; height:669px; background:#fafafa; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_rmmdd em						{ width:248px; height:32px; background-position:0 -60px; overflow:hidden; float:left;}
.index_rmmdd ul						{ width:248px; border-bottom:2px solid #ac3666; overflow:hidden; float:left;}
.index_rmmdd ul li					{ width:228px; margin:0 0 0 10px; display:inline; padding:0 0 0 1px; border-bottom:1px solid #e8e8e8; overflow:hidden; float:left;}
.index_rmmdd ul li b				{ width:228px; height:32px; font-size:14px; color:#ac3666; line-height:33px; overflow:hidden; float:left;}
.index_rmmdd ul li h1				{ width:70px; height:22px; overflow:hidden; float:left;}
.index_rmmdd ul li h1 a				{ color:#404040;}
.index_rmmdd ul li h1 a:hover		{ color:#ff6633;}
.index_rmmdd ol						{ width:248px; height:165px; overflow:hidden; float:left;}
.index_rmmdd ol li					{ width:228px; margin:0 0 0 10px; display:inline; padding:5px 0 0 1px; border-bottom:1px solid #e8e8e8; overflow:hidden; float:left;}
.index_rmmdd ol li b				{ width:228px; height:38px; font-size:14px; color:#ac3666; line-height:33px; overflow:hidden; float:left;}
.index_rmmdd ol li h1				{ width:108px; height:26px; overflow:hidden; float:left;}
.index_rmmdd ol li h1 a				{ color:#404040;}
.index_rmmdd ol li h1 a:hover		{ color:#ff6633;}
.index_rmmdd ol li h2				{ width:59px; height:26px; overflow:hidden; float:left;}
.index_rmmdd ol li h2 a				{ color:#404040;}
.index_rmmdd ol li h2 a:hover		{ color:#ff6633;}

/*人气排行榜*/
.index_rqphb		{ width:248px; height:353px; margin:10px 0 0 0; display:inline; background:#fafafa; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_rqphb i						{ width:248px; height:32px; background-position:0 -92px; overflow:hidden; float:left;}
.index_rqphb .numlist				{ width:233px; padding:0 0 0 15px; overflow:hidden; float:left;}
.index_rqphb .numlist li.first		{ width:233px; height:78px; border-bottom:1px dotted #dbdbdb; overflow:hidden; float:left;}
.index_rqphb .numlist li.first em	{ margin-top:2px;}
.index_rqphb .numlist li img		{ width:92px; height:60px; margin:0 6px 0 0; display:inline; overflow:hidden; float:left;}
.index_rqphb .numlist li a			{ color:#514033; overflow:hidden;}
.index_rqphb .numlist li a:hover	{ color:#ff6633;}
.index_rqphb ul						{ width:233px; overflow:hidden; float:left;}
.index_rqphb .numlist li			{ width:205px; height:20px; padding:11px 0 0 0; line-height:20px; overflow:hidden; float:left;}
.index_rqphb .numlist li em			{ width:16px; height:11px; margin:4px 8px 0 0; display:inline; padding:0 4px 0 0; background:url(../images/index_rqphb.gif) 0 -90px no-repeat; text-align:center; font:10px/11px Arial; color:#FFF; overflow:hidden; float:left;}
.index_rqphb .numlist li em.bg1		{ background-position:0 0}
.index_rqphb .numlist li em.bg2		{ background-position:0 -30px}
.index_rqphb .numlist li em.bg3		{ background-position:0 -60px}

/*热门游记*/
.index_rmyj			{ width:248px; height:375px; margin:10px 0 0 0; display:inline; background:#fafafa; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_rmyj em						{ width:248px; height:32px; background-position:0 -124px; overflow:hidden; float:left;}
.index_rmyj i						{ width:230px; height:178px; margin:10px 0 0 9px; display:inline; border-bottom:1px dotted #9f9f9f; overflow:hidden; float:left;}
.index_rmyj i p						{ width:230px; height:101px; overflow:hidden; float:left;}
.index_rmyj i h1					{ width:206px; height:31px; padding:0 0 0 12px; font-weight:bold; line-height:34px; overflow:hidden; float:left;}
.index_rmyj i h1 a					{ color:#3e3e3e;}
.index_rmyj i h1 a:hover			{ color:#ff6633;}
.index_rmyj i h2					{ width:206px; height:34px; padding:0 0 0 12px; color:#9f9f9f; line-height:18px; overflow:hidden; float:left;}
.index_rmyj ul						{ width:206px; padding:0 0 0 21px; overflow:hidden; float:left;}
.index_rmyj ul li					{ width:206px; height:27px; line-height:41px; overflow:hidden; float:left;}
.index_rmyj ul li a					{ color:#3e3e3e;}
.index_rmyj ul li a:hover			{ color:#ff6633;}

/*合作银行*/
.index_hzyh			{ width:248px; height:226px; margin:10px 0 0 0; display:inline; background:#fafafa; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_hzyh em						{ width:248px; height:30px; background-position:0 -156px; overflow:hidden; float:left;}
.index_hzyh ul						{ width:211px; height:173px; margin:9px 0 0 17px; display:inline; overflow:hidden; float:left;}
.index_hzyh ul li					{ width:211px; height:28px; border-bottom:1px dashed #d3d3d3; overflow:hidden; float:left;}
.index_hzyh ul li span				{ width:23px; height:21px; margin:5px 12px 0 0; display:inline; overflow:hidden; float:left;}
.index_hzyh ul li i					{ width:174px; height:28px; line-height:29px; overflow:hidden; float:left;}
.index_hzyh ul li i a				{ color:#4a4a4a;}
.index_hzyh ul li i a:hover			{ color:#ff6633;}

/*右边部分*/
.index_right	{ width:720px; margin:10px 0 0 0; display:inline; overflow:hidden; float:right;}

/*右边焦点部分*/
.index_right_focus	{ width:720px; height:299px; overflow:hidden; float:left;}
.index_right_focus ol				{ width:190px; height:299px; overflow:hidden; float:right;}
.index_right_focus ol li			{ width:188px; height:143px; margin:0 0 9px 0; display:inline; border:1px solid #e6e6e6; overflow:hidden; float:left;}

/*右边公告部分*/
.index_right_notice	{ width:660px; height:28px; margin:10px 0 0 0; display:inline; padding:0 0 0 58px; background-color:#fcf8db; background-position:-199px 0; border:1px solid #febe90; overflow:hidden; float:left;}
#scroll_div							{ width:595px; height:28px; white-space:nowrap; line-height:29px; overflow:hidden; float:left;}
#scroll_begin,#scroll_end			{ display:inline;}
#scroll_div a						{ margin:0 25px 0 0; display:inline; color:#534134;}
#scroll_div a:hover					{ color:#ff6633;}
.index_right_notice em				{ width:46px; height:28px; line-height:28px; overflow:hidden; float:right;}
.index_right_notice em a			{ color:#ff6600;}
.index_right_notice em a:hover		{ color:#ff6633;}

/*右边部分左半部*/
.index_right_left	{ width:520px; margin:10px 0 0 0; display:inline; overflow:hidden; float:left;}

/*精选主打游*/
.index_jxzdy			{ width:518px; height:348px; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_jxzdy dl						{ width:518px; height:34px; background:url(../images/index_son_bav_bg.png) repeat-x; overflow:hidden; float:left;}
.index_jxzdy dl dd					{ width:121px; height:24px; margin:5px 0 0 14px; display:inline; background-position:0 -253px; overflow:hidden; float:left;}
.index_jxzdy dl dt					{ height:24px; padding:0 20px 0 0; color:#cccccc; line-height:32px; overflow:hidden; float:right;}
.index_jxzdy dl dt a				{ color:#666666;}
.index_jxzdy dl dt a:hover			{ color:#ff6633;}
.index_jxzdy ul						{ width:497px; height:307px; padding:3px 0 0 8px; overflow:hidden; float:left;}
.index_jxzdy ul li					{ width:497px; height:76px; border-bottom:1px dotted #dfdfdf; overflow:hidden; float:left;}
.index_jxzdy ul li p				{ width:106px; height:64px; margin:5px 10px 0 0; display:inline; border:1px solid #e6e6e6; overflow:hidden; float:left;}
.index_jxzdy ul li em				{ width:373px; height:32px; line-height:31px; overflow:hidden; float:left;}
.index_jxzdy ul li em h1			{ width:284px; height:32px; overflow:hidden; float:left;}
.index_jxzdy ul li em h1 a			{ font-size:14px; font-weight:bold; color:#333333;}
.index_jxzdy ul li em h1 a:hover	{ color:#ff6633;}
.index_jxzdy ul li em span			{ font-family:"黑体"; color:#343434; float:right;}
.index_jxzdy ul li em span b		{ font-size:18px; color:#d22b70;}
.index_jxzdy ul li i				{ width:373px; height:34px; color:#666666; line-height:18px; overflow:hidden; float:left;}

/*热门路线*/
.index_rmlx				{ width:520px; height:28px; margin:10px 0 0 0; display:inline; padding:4px 0 4px 28px; background:url(../images/index_rmlx_bg.png) no-repeat; overflow:hidden; float:left;}
#scrollDiv_rmlx						{ width:520px; height:28px; overflow:hidden; float:left;}
.index_rmlx ul li					{ width:444px; height:28px; line-height:29px; overflow:hidden; float:left;}
.index_rmlx ul li span				{ padding:0 0 0 31px; overflow:hidden; float:left;}

/*特色主题游*/
.index_tszty			{ width:518px; height:196px; margin:10px 0 0 0; display:inline; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_tszty .tabContainer			{ width:518px; height:37px; padding:1px 0 0 0; background:url(../images/index_tszty_bav_bg.png) repeat-x; overflow:hidden; float:left;}
.index_tszty .tabContainer em		{ width:122px; height:24px; margin:5px 0 0 10px; display:inline; background-position:-121px -253px; overflow:hidden; float:left;}
.index_tszty .tabContainer ul		{ height:37px; margin:0 -1px 0 0; display:inline; overflow:hidden; float:right;}
.index_tszty .tabContainer li		{ float:left;}
.index_tszty .tabContainer li a		{ width:91px; height:37px; background:url(../images/index_tszty_line.png) no-repeat right; text-align:center; font-weight:normal; line-height:31px; overflow:hidden; float:left;}
.index_tszty .tabContainer li.currentBtn a	{ background:url(../images/index_tszty_btn.png) no-repeat;}
.index_tszty .tabBody				{ width:518px; height:148px; position:relative; overflow:hidden;}
.index_tszty .tabBody ul			{ padding:5px 0 0 10px; position:absolute;}
.index_tszty .tabBody ul li			{ width:518px; float:left;}

/*享乐参团游*/
.index_xlcty			{ width:518px; height:252px; margin:10px 0 0 0; display:inline; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_xlcty .tabContainer			{ width:518px; height:38px; background:url(../images/index_son_bav_bg.png) repeat-x; overflow:hidden; float:left;}
.index_xlcty .tabContainer em		{ width:123px; height:24px; margin:4px 0 0 10px; display:inline; background-position:0 -277px; overflow:hidden; float:left;}
.index_xlcty .tabContainer ul		{ height:38px; margin:0 -1px 0 0; display:inline; overflow:hidden; float:right;}
.index_xlcty .tabContainer li		{ float:left;}
.index_xlcty .tabContainer li a		{ width:91px; height:37px; padding:1px 0 0 0; background:url(../images/index_tszty_line.png) no-repeat right; text-align:center; font-weight:normal; line-height:31px; overflow:hidden; float:left;}
.index_xlcty .tabContainer li.currentBtn a	{ background:#ac3666 url(../images/index_tszty_btn.png) no-repeat left bottom;}
.tabContainer li.tabContainer_bgnone a		{ background:none;}
.index_xlcty .tabBody				{ width:518px; height:214px; position:relative; overflow:hidden;}
.index_xlcty .tabBody ul			{ padding:6px 0 0 8px; position:absolute;}
.index_xlcty .tabBody ul li			{ width:518px; float:left;}
.index_xlcty ul li u				{ width:497px; height:76px; text-decoration:none; overflow:hidden; float:left;}
.index_xlcty ul li u p				{ width:106px; height:64px; margin:0 10px 0 0; display:inline; border:1px solid #e6e6e6; overflow:hidden; float:left;}
.index_xlcty ul li u em				{ width:373px; height:32px; line-height:31px; overflow:hidden; float:left;}
.index_xlcty ul li u em h1			{ width:284px; height:32px; overflow:hidden; float:left;}
.index_xlcty ul li u em h1 a		{ font-size:14px; font-weight:bold; color:#333333;}
.index_xlcty ul li u em h1 a:hover	{ color:#ff6633;}
.index_xlcty ul li u em span		{ font-family:"黑体"; color:#343434; float:right;}
.index_xlcty ul li u em span b		{ font-size:18px; color:#d22b70;}
.index_xlcty ul li u i				{ width:373px; height:34px; color:#666666; line-height:18px; overflow:hidden; float:left;}
.index_xlcty .tabBody ol			{ width:497px; height:135px; overflow:hidden; float:left;}
.index_xlcty .tabBody ol li			{ width:497px; height:25px; border-top:1px dotted #dfdfdf; overflow:hidden; float:left;}
.index_xlcty .tabBody ol li em		{ width:54px; height:17px; margin:5px 8px 0 0; display:inline; background:#ac3666; text-align:center; color:#FFF; line-height:17px; overflow:hidden; float:left;}
.index_xlcty .tabBody ol li span	{ width:345px; height:17px; margin:5px 0 0 0; display:inline; line-height:17px; overflow:hidden; float:left;}
.index_xlcty .tabBody ol li span a	{ color:#333333;}
.index_xlcty .tabBody ol li span a:hover	{ color:#ff6633;}
.index_xlcty .tabBody ol li i		{ width:74px; height:17px; margin:5px 0 0 0; display:inline; color:#666666; overflow:hidden; float:right;}
.index_xlcty .tabBody ol li i b		{ font-weight:normal; color:#d22b70;}

/*欢乐自由行*/
.index_hlzyx			{ width:518px; height:252px; margin:10px 0 0 0; display:inline; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_hlzyx_nav					{ width:518px; height:34px; background:url(../images/index_son_bav_bg.png) repeat-x; overflow:hidden; float:left;}
.index_hlzyx_nav em					{ width:123px; height:24px; margin:3px 0 0 10px; display:inline; background-position:-123px -277px; overflow:hidden; float:left;}
.index_hlzyx strong					{ width:510px; padding:6px 0 0 8px; font-weight:normal; overflow:hidden; float:left;}
.index_hlzyx strong u				{ width:497px; height:76px; text-decoration:none; overflow:hidden; float:left;}
.index_hlzyx strong u p				{ width:106px; height:64px; margin:0 10px 0 0; display:inline; border:1px solid #e6e6e6; overflow:hidden; float:left;}
.index_hlzyx strong u em			{ width:373px; height:32px; line-height:31px; overflow:hidden; float:left;}
.index_hlzyx strong u em h1			{ width:284px; height:32px; overflow:hidden; float:left;}
.index_hlzyx strong u em h1 a		{ font-size:14px; font-weight:bold; color:#333333;}
.index_hlzyx strong u em h1 a:hover	{ color:#ff6633;}
.index_hlzyx strong u em span		{ font-family:"黑体"; color:#343434; float:right;}
.index_hlzyx strong u em span b		{ font-size:18px; color:#d22b70;}
.index_hlzyx strong u i				{ width:373px; height:34px; color:#666666; line-height:18px; overflow:hidden; float:left;}
.index_hlzyx strong ol				{ width:497px; height:135px; overflow:hidden; float:left;}
.index_hlzyx strong ol li			{ width:497px; height:25px; border-top:1px dotted #dfdfdf; overflow:hidden; float:left;}
.index_hlzyx strong ol li em		{ width:54px; height:17px; margin:5px 8px 0 0; display:inline; background:#ac3666; text-align:center; color:#FFF; line-height:17px; overflow:hidden; float:left;}
.index_hlzyx strong ol li span		{ width:345px; height:17px; margin:5px 0 0 0; display:inline; line-height:17px; overflow:hidden; float:left;}
.index_hlzyx strong ol li span a	{ color:#333333;}
.index_hlzyx strong ol li span a:hover	{ color:#ff6633;}
.index_hlzyx strong ol li i			{ width:74px; height:17px; margin:5px 0 0 0; display:inline; color:#666666; overflow:hidden; float:right;}
.index_hlzyx strong ol li i b		{ font-weight:normal; color:#d22b70;}

/*攻略推荐*/
.index_gltj				{ width:518px; height:167px; margin:10px 0 0 0; display:inline; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_gltj_nav						{ width:518px; height:34px; background:url(../images/index_son_bav_bg.png) repeat-x; overflow:hidden; float:left;}
.index_gltj_nav em					{ width:104px; height:24px; margin:4px 0 0 11px; display:inline; background-position:-55px 0; overflow:hidden; float:left;}
.index_gltj dl						{ width:253px; height:116px; padding:11px 28px 0 9px; overflow:hidden; float:left;}
.index_gltj dl dd					{ width:110px; height:110px; border:1px solid #d8d8d8; overflow:hidden; float:left;}
.index_gltj dl dt					{ width:131px; height:116px; padding:0 0 0 10px; line-height:16px; overflow:hidden; float:left;}
.index_gltj dl dt h1				{ width:131px; height:34px; overflow:hidden; float:left;}
.index_gltj dl dt h1 a				{ font-weight:bold; color:#333333;}
.index_gltj dl dt h1 a:hover		{ color:#ff6633;}
.index_gltj dl dt i					{ width:131px; height:82px; color:#333333; overflow:hidden; float:left;}
.index_gltj ul						{ width:218px; height:115px; padding:11px 0 0 0; overflow:hidden; float:left;}
.index_gltj ul li					{ width:218px; height:17px; margin:0 0 6px 0; display:inline; line-height:16px; overflow:hidden; float:left;}
.index_gltj ul li span				{ width:54px; height:17px; background:#ac3666; text-align:center; color:#FFF; overflow:hidden; float:left;}
.index_gltj ul li h2				{ width:156px; height:17px; padding:0 0 0 8px; overflow:hidden; float:left;}
.index_gltj ul li h2 a				{ color:#333333;}
.index_gltj ul li h2 a:hover		{ color:#ff6633;}

/*右边部分右半部*/
.index_right_right	{ width:190px; overflow:hidden; float:right;}

/*古莲公告&旅游资讯*/
.index_lyzx				{ width:188px; height:206px; margin:10px 0 0 0; display:inline; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_lyzx .tabContainer			{ width:188px; height:28px; background:url(../images/index_lyzx_bav_bg.png) repeat-x; border-bottom:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_lyzx .tabContainer ul		{ width:152px; height:28px; margin:0 0 0 -1px; display:inline; overflow:hidden; float:left;}
.index_lyzx .tabContainer li		{ float:left;}
.index_lyzx .tabContainer li a		{ width:75px; height:28px; border-left:1px solid #e1e1e1; text-align:center; font-weight:normal; line-height:29px; overflow:hidden; float:left;}
.index_lyzx .tabContainer li.currentBtn a	{ background:#FFF;}
.index_lyzx .tabContainer em		{ height:28px; padding:0 13px 0 0; line-height:29px; overflow:hidden; float:right;}
.index_lyzx .tabContainer em a		{ color:#999999;}
.index_lyzx .tabContainer em a:hover{ color:#ff6633;}
.index_lyzx .tabBody				{ width:188px; height:173px; position:relative; overflow:hidden;}
.index_lyzx .tabBody ul				{ padding:4px 0 0 10px; position:absolute;}
.index_lyzx .tabBody ul li			{ width:188px; overflow:hidden; float:left;}
.index_lyzx .tabBody ul li ol li	{ width:163px; height:24px; padding:0 0 0 8px; background:url(../images/index_right_right_point.png) no-repeat 0 11px; line-height:24px; overflow:hidden; float:left;}
.index_lyzx .tabBody ul li ol li a	{ color:#333333;}
.index_lyzx .tabBody ul li ol li a:hover	{ color:#ff6633;}

/*出行小贴士*/
.index_cxxts			{ width:188px; height:196px; margin:10px 0 0 0; display:inline; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_cxxts dl						{ width:188px; height:28px; background:url(../images/index_right_right_bav_bg.png) repeat-x; border-bottom:1px solid #e1e1e1; line-height:29px; overflow:hidden; float:left;}
.index_cxxts dl dd					{ height:28px; padding:0 0 0 10px; overflow:hidden; float:left;}
.index_cxxts dl dt					{ height:28px; padding:0 13px 0 0; overflow:hidden; float:right;}
.index_cxxts dl dt a				{ color:#999999;}
.index_cxxts dl dt a:hover			{ color:#ff6633;}
.index_cxxts ul						{ width:167px; height:95px; margin:1px 0 0 10px; display:inline; border-bottom:1px dotted #cccccc; overflow:hidden; float:left;}
.index_cxxts ul li					{ width:138px; height:22px; padding:0 0 0 14px; color:#d22b70; line-height:30px; overflow:hidden; float:left;}
.index_cxxts ul li a				{ color:#d22b70;}
.index_cxxts ul li a:hover			{ text-decoration:underline;}
.index_cxxts ol						{ width:167px; height:60px; margin:1px 0 0 10px; display:inline; overflow:hidden; float:left;}
.index_cxxts ol li					{ width:160px; height:20px; padding:0 0 0 7px; background:url(../images/index_right_right_point.png) no-repeat 0 12px; line-height:27px; overflow:hidden; float:left;}
.index_cxxts ol li a				{ color:#333333;}
.index_cxxts ol li a:hover			{ color:#ff6633;}

/*热推活动*/
.index_rthd				{ width:188px; height:181px; margin:10px 0 0 0; display:inline; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_rthd dl						{ width:188px; height:28px; background:url(../images/index_right_right_bav_bg.png) repeat-x; border-bottom:1px solid #e1e1e1; line-height:29px; overflow:hidden; float:left;}
.index_rthd dl dd					{ height:28px; padding:0 0 0 10px; overflow:hidden; float:left;}
.index_rthd dl dt					{ height:28px; padding:0 13px 0 0; overflow:hidden; float:right;}
.index_rthd ul						{ width:167px; height:149px; margin:3px 0 0 10px; display:inline; overflow:hidden; float:left;}
.index_rthd ul li					{ width:160px; height:24px; padding:0 0 0 7px; background:url(../images/index_right_right_point.png) no-repeat 0 12px; line-height:27px; overflow:hidden; float:left;}
.index_rthd ul li a					{ color:#333333;}
.index_rthd ul li a:hover			{ color:#ff6633;}

/*首页右侧广告*/
.index_right_poster		{ width:190px; height:80px; margin:10px 0 0 0; display:inline; overflow:hidden; float:left;}

/*微博攻略*/
.index_wbgl				{ width:188px; height:317px; margin:10px 0 0 0; display:inline; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_wbgl dl						{ width:188px; height:28px; background:url(../images/index_right_right_bav_bg.png) repeat-x; border-bottom:1px solid #e1e1e1; line-height:29px; overflow:hidden; float:left;}
.index_wbgl dl dd					{ height:28px; padding:0 0 0 10px; overflow:hidden; float:left;}
.index_wbgl dl dt					{ height:28px; padding:0 13px 0 0; overflow:hidden; float:right;}

/*游客感言*/
.index_ykgy				{ width:188px; height:181px; margin:10px 0 0 0; display:inline; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.index_ykgy dl						{ width:188px; height:28px; background:url(../images/index_right_right_bav_bg.png) repeat-x; border-bottom:1px solid #e1e1e1; line-height:29px; overflow:hidden; float:left;}
.index_ykgy dl dd					{ height:28px; padding:0 0 0 10px; overflow:hidden; float:left;}
.index_ykgy dl dt					{ height:28px; padding:0 13px 0 0; overflow:hidden; float:right;}
.index_ykgy ul						{ width:167px; height:149px; margin:3px 0 0 10px; display:inline; overflow:hidden; float:left;}
.index_ykgy ul li					{ width:160px; height:24px; padding:0 0 0 7px; background:url(../images/index_right_right_point.png) no-repeat 0 12px; line-height:27px; overflow:hidden; float:left;}
.index_ykgy ul li a					{ color:#333333;}
.index_ykgy ul li a:hover			{ color:#ff6633;}