@charset "utf-8";
/* CSS Document */

/*通用背景*/
.header_search_submit,
.login_tanchu span dl dd a,
.login_tanchu span dl dt a	{ background:url(../images/all_bg.png) no-repeat;}

/*通用样式*/
*		{ margin:0; padding:0; border:none;}
html	{ overflow-y:scroll;}
body	{ background:#FFF; font-family:"宋体"; font-size:12px; color:#000;}
a		{ color:#666; text-decoration:none; hide-focus:expression(this.hideFocus=true); outline:none;}
a:hover	{ color:#ff6633;}
li		{ list-style-type:none;}
em,i	{ font-style:normal;}
u		{ text-decoration:none;}
h1,h2,h3{ font-size:12px; font-weight:normal;}

/*头部*/
.header_box		{ width:100%; background:url(../images/top_bg.png) repeat-x; float:left;}
.header_box dl						{ width:980px; margin:0 auto;}
.header_box dl dd					{ width:980px; height:26px; padding:11px 0 0 0; overflow:hidden; float:left;}
.header_box dl dd b					{ font-weight:normal; color:#cccccc; overflow:hidden; float:left;}
.header_box dl dd i					{ color:#cccccc; overflow:hidden; float:right;}
.header_box dl dd i u				{ color:#c12366;}
.header_box dl dd i u a				{ text-decoration:none; color:#c12366;}
.header_box dl dd i u a:hover		{ color:#ff6633;}
.header_box dl dd em				{ padding:0 45px 0 0; color:#666666; overflow:hidden; float:right;}
.header_box dl dt					{ width:980px; height:97px; background:url(../images/header_bg.png) no-repeat 236px 0; overflow:hidden; float:left;}
.header_box dl dt i					{ width:223px; height:73px; margin:13px 0 0 0; display:inline; overflow:hidden; float:left;}
.header_box dl dt b					{ width:602px; height:30px; margin:39px 0 0 0; display:inline; overflow:hidden; float:right;}
.header_box dl dt b input			{ overflow:hidden; float:left;}
.header_search_text					{ width:373px; height:14px; padding:7px 6px; background:#FFF; border:1px solid #eaeaea; font-family:"宋体"; font-size:12px; color:#b1b1b1; overflow:hidden; float:left;}
.header_search_submit				{ width:55px; height:30px; margin:0 0 0 6px; display:inline; background-position:0 0; cursor:pointer; overflow:hidden; float:left;}
.header_search_submit:hover			{ background-position:0 -30px;}
.header_box dl dt em				{ width:381px; height:28px; padding:0 215px 0 0; color:#ac3666; line-height:28px; overflow:hidden; float:right;}

/*导航*/
.mainbav_box	{ width:100%; background:url(../images/mainbav_bg.png) repeat-x; float:left;}
.mainbav_box ul						{ width:980px; height:39px; margin:0 auto;}
.mainbav_box ul li					{ height:39px; background:url(../images/mainbav_line.png) no-repeat; float:left;}
.mainbav_box ul li a				{ padding:0 0 0 4px; font-size:16px; color:#FFF; letter-spacing:0.1em; cursor:pointer; overflow:hidden; float:left;}
.mainbav_box ul li a:hover			{ color:#fff600;}
.mainbav_box ul li a span			{ height:39px; padding:0 28px 0 26px; font-family:"微软雅黑"; line-height:36px; overflow:hidden; float:left;}
.mainbav_box ul .mainbav_on a		{ background:url(../images/mainbav_btn_bg_01.png) no-repeat 0 5px;}
.mainbav_box ul .mainbav_on a span	{ background:url(../images/mainbav_btn_bg_02.png) no-repeat right 5px; font-weight:bold; color:#d5568a;}
#mainbav_pull						{ position:relative; z-index:99999;}
#mainbav_pull ol					{ background:#FFF; border-top:1px solid #e1e1e1; position:absolute; top:37px; left:0; z-index:99999; display:none;}
#mainbav_pull ol li					{ height:28px; background:none; border:1px solid #e1e1e1; border-top:none; overflow:hidden;}
#mainbav_pull ol li a				{ height:28px; padding:0; background:none; text-align:center; font-size:12px; color:#676767; line-height:27px; overflow:hidden; float:left;}
#mainbav_pull ol li a:hover			{ color:#ff6633;}

/*底部*/
.footer_box		{ width:100%; margin:11px 0 0 0; display:inline; border-top:7px solid #d22b70; overflow:hidden; float:left;}
.footer								{ width:980px; height:154px; margin:0 auto; overflow:hidden;}
.footer i							{ width:980px; padding:10px 0 0 0; text-align:center; line-height:31px; color:#333333; overflow:hidden; float:left;}
.footer i a							{ color:#333333;}
.footer i a:hover					{ color:#ff6633;}
.footer em							{ width:980px; text-align:center; line-height:31px; color:#666666; overflow:hidden; float:left;}

/*弹出登录框*/
.login_tanchu	{ width:580px; height:302px; padding:10px; background:#FFF; overflow:hidden; display:block; position:absolute;}
.login_tanchu span					{ width:580px; height:302px; background:#f1f1f1; overflow:hidden; float:left;}
.login_tanchu span em				{ width:578px; height:25px; background:url(../images/cty_article_tanchu_close.png) no-repeat right 2px; overflow:hidden; float:left;}
.login_tanchu span h1				{ width:580px; height:51px; background:url(../images/login_tanchu_title.png) no-repeat center 0; overflow:hidden; float:left;}
.login_tanchu span ul				{ width:580px; height:97px; overflow:hidden; float:left;}
.login_tanchu span ul li			{ width:580px; height:34px; margin:0 0 12px 0; display:inline; overflow:hidden; float:left;}
.login_tanchu span ul li label		{ width:159px; height:34px; padding:0 8px 0 0; text-align:right; line-height:34px; _line-height:35px; overflow:hidden; float:left;}
.login_tanchu span ul li input		{ width:240px; height:15px; padding:8px 5px 9px 5px; background:#FFF; border:1px solid #ced4dd; font-size:12px; color:#7a7a7a; overflow:hidden; float:left;}
.login_tanchu span dl				{ width:580px; height:110px; overflow:hidden; float:left;}
.login_tanchu span dl dd			{ width:400px; height:35px; margin:0 0 11px 167px; display:inline; overflow:hidden; float:left;}
.login_tanchu span dl dt			{ width:400px; height:35px; margin:0 0 11px 167px; display:inline; overflow:hidden; float:left;}
.login_tanchu span dl dd a			{ width:246px; height:35px; background-position:0 -720px; overflow:hidden; float:left;}
.login_tanchu span dl dd a:hover	{ background-position:0 -755px;}
.login_tanchu span dl dt a			{ width:246px; height:35px; background-position:0 -790px; overflow:hidden; float:left;}
.login_tanchu span dl dt a:hover	{ background-position:0 -825px;}