#zhuti_box	{ width:980px;  margin:0 auto;}
	
	#zhuti_left	{ width:720px; float:left;}
	#zhuti_left	li { width:720px; padding:10px 0 0 0; float:left;}
	#zhuti_left	li img	{ float:left;}
	
	#zhuti_right	{ width:250px; float:right;}
	#zhuti_right dl	{ width:248px; border:#e1e1e1 1px solid; margin:10px 0 0 0; display:inline; float:right;}
	#zhuti_right dt	{ width:248px; height:30px; line-height:30px; text-align:left; font-size:14px; color:#FFFFFF; background-color:#ac3767; float:left;}
	#zhuti_right dt span{ width:36px; height:30px; background:url(../images/cty_rmlxtj_hot.png) no-repeat 4px 3px ; float:left;}
	#zhuti_right dd		{ width:248px; height:411px; overflow:hidden; float:left;}
	#zhuti_right dd	li	{ width:234px; height:195px; line-height:22px; margin:10px 0 0 7px; display:inline; border-bottom:#CCCCCC 1px dashed; float:left;}
	#zhuti_right dd	li img	{ margin:0 0 4px; display:inline; border:#f4f4f5 1px solid; float:left;}
	#zhuti_right dd	li span{ color:#ec3911; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
	
	.zhuti_right_ul		{ width:250px; padding:10px 0 0 0; float:left;}
	.zhuti_right_ul	li	{ width:250px; padding:0 0 10px 0; float:left;}
	.zhuti_right_ul	li img	{ float:left;}
	
/* 定制页 用*/	
	.dingzhi_img	{ width:720px; padding:10px 0 0 0; float:left;}
	.dingzhi_img img	{ float:left;}
	
	.dingzhi_information	{ width:718px; height:521px; border:#e1e1e1 1px solid; border-top:none; float:left;}
	.dingzhi_information em	{ width:698px; margin:10px 0 0 0; display:inline; height:30px; line-height:30px; background:#ece9e4; font-size:14px; padding: 0 0 0 20px; font-weight:bold; float:left;}
	
	.dingzhi_information_content	{ width:718px; float:left;}
	.dingzhi_dla	{ width:610px; padding:55px 0 0 100px; float:left;}
	.dingzhi_dla dt	{ width:72px; padding:0 0 13px 0; line-height:22px; text-align:right; float:left;}
	.dingzhi_dla dd { width:220px; padding:0 0 13px 0; float:left;}
	.dingzhi_dla dd select 	{ height:20px; background:#FFF; border:#CCCCCC 1px solid; margin:0 5px 0 0; color:#666666; display:inline; float:left;}
	.dingzhi_dla dd input	{ height:20px; background:#FFF; border:#CCCCCC 1px solid; line-height:24px; color:#666666; padding:0 0 0 3px; line-height:20px; float:left; }
	
	.dingzhi_dlb	{ width:610px; padding:0 0 0 100px; float:left;}
	.dingzhi_dlb dt	{ width:72px; padding:0 0 13px 0; line-height:22px; text-align:right; float:left;}
	.dingzhi_dlb dd { width:490px; padding:0 0 13px 0; float:left;}
	.dingzhi_dlb dd select 	{ height:20px; background:#FFF; border:#CCCCCC 1px solid; margin:0 5px 0 0; color:#666666; display:inline; float:left;}
	.dingzhi_dlb dd input	{ background:#FFF; border:#CCCCCC 1px solid; line-height:20px; color:#666666; padding:0 0 0 3px; line-height:20px; float:left; }
	
	.dingzhi_dlc	{ width:610px; padding:0 0 0 100px; float:left;}
	.dingzhi_dlc dt	{ width:72px; padding:0 0 13px 0; line-height:22px; text-align:right; float:left;}
	.dingzhi_dlc dd { width:490px; padding:0 0 13px 0; line-height:24px; float:left;}
	.dingzhi_dlc dd select 	{ height:20px; border:#CCCCCC 1px solid; margin:0 5px 0 0; color:#666666; display:inline; float:left;}
	.dingzhi_dlc dd span 	{ padding:0 10px 0 0; float:left;}
	.dingzhi_dlc dd span i	{ float:left;}
	.dingzhi_dlc dd input	{ width:44px; height:20px; background:#FFF; border:#CCCCCC 1px solid; padding:0 0 0 3px;  line-height:20px; color:#666666; line-height:20px; float:left;}
	
	.dingzhi_dld	{ width:610px; padding:0 0 0 100px; float:left;}
	.dingzhi_dld dt	{ width:72px; padding:0 0 13px 0; line-height:22px; text-align:right; float:left;}
	.dingzhi_dld dd { width:490px; padding:0 0 13px 0; line-height:24px; float:left;}
	.dingzhi_dld dd textarea { width:430px; height:100px; background:#FFF; border:#CCCCCC 1px solid; line-height:20px;  line-height:20px; padding:0 0 0 3px; color:#666666; }
	
	.dingzhi_input	{ width:80px; height:23px; background:url(../images/qurentijiao.jpg) no-repeat; margin:20px 0 0 330px; display:inline; cursor:hand; float:left;}