@charset "utf-8";
/* CSS Document */

/*通用背景*/
.zyx_rmmdd em,
.zyx_rmyj em,
.zyx_wgl em,
.zyx_xltj strong b,
.zyx_xltj i span a,
.zyx_wzsj_zbzg ul li span a		{ background:url(../images/all_bg.png) no-repeat;}

/*主体*/
.zyx_box		{ width:100%; float:left;}
.zyx			{ width:980px; margin:0 auto; overflow:hidden;}

/*左边部分*/
.zyx_left		{ width:250px; margin:9px 0 0 0; display:inline; overflow:hidden; float:left;}

/*热门目的地*/
.zyx_rmmdd		{ width:248px; height:366px; background:#fafafa; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.zyx_rmmdd em						{ width:248px; height:32px; background-position:0 -60px; overflow:hidden; float:left;}
.zyx_rmmdd ul						{ width:248px; overflow:hidden; float:left;}
.zyx_rmmdd ul li					{ width:228px; margin:14px 0 0 10px; display:inline; padding:0 0 5px 1px; border-bottom:1px solid #e8e8e8; overflow:hidden; float:left;}
.zyx_rmmdd ul li b					{ width:228px; height:32px; font-size:14px; color:#ac3666; line-height:33px; overflow:hidden; float:left;}
.zyx_rmmdd ul li h1					{ width:55px; height:22px; overflow:hidden; float:left;}
.zyx_rmmdd ul li h1 a				{ color:#404040;}
.zyx_rmmdd ul li h1 a:hover			{ color:#ff6633;}
.zyx_rmmdd ol						{ width:248px; height:157px; overflow:hidden; float:left;}
.zyx_rmmdd ol li					{ width:228px; margin:0 0 0 10px; display:inline; padding:1px 0 0 1px; border-bottom:1px solid #e8e8e8; overflow:hidden; float:left;}
.zyx_rmmdd ol li b					{ width:228px; height:38px; font-size:14px; color:#ac3666; line-height:33px; overflow:hidden; float:left;}
.zyx_rmmdd ol li h1					{ width:108px; height:26px; overflow:hidden; float:left;}
.zyx_rmmdd ol li h1 a				{ color:#404040;}
.zyx_rmmdd ol li h1 a:hover			{ color:#ff6633;}
.zyx_rmmdd ol li h2					{ width:59px; height:26px; overflow:hidden; float:left;}
.zyx_rmmdd ol li h2 a				{ color:#404040;}
.zyx_rmmdd ol li h2 a:hover			{ color:#ff6633;}

/*广告*/
.zyx_poster			{ width:250px; height:164px; margin:10px 0 0 0; display:inline; overflow:hidden; float:left;}

/*热门游记*/
.zyx_rmyj			{ width:248px; height:373px; margin:10px 0 0 0; display:inline; background:#fafafa; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.zyx_rmyj em						{ width:248px; height:32px; background-position:0 -124px; overflow:hidden; float:left;}
.zyx_rmyj i							{ width:230px; height:178px; margin:10px 0 0 9px; display:inline; border-bottom:1px dotted #9f9f9f; overflow:hidden; float:left;}
.zyx_rmyj i p						{ width:230px; height:101px; overflow:hidden; float:left;}
.zyx_rmyj i h1						{ width:206px; height:31px; padding:0 0 0 12px; font-weight:bold; line-height:34px; overflow:hidden; float:left;}
.zyx_rmyj i h1 a					{ color:#3e3e3e;}
.zyx_rmyj i h1 a:hover				{ color:#ff6633;}
.zyx_rmyj i h2						{ width:206px; height:34px; padding:0 0 0 12px; color:#9f9f9f; line-height:18px; overflow:hidden; float:left;}
.zyx_rmyj ul						{ width:206px; padding:0 0 0 21px; overflow:hidden; float:left;}
.zyx_rmyj ul li						{ width:206px; height:27px; line-height:41px; overflow:hidden; float:left;}
.zyx_rmyj ul li a					{ color:#3e3e3e;}
.zyx_rmyj ul li a:hover				{ color:#ff6633;}

/*微攻略*/
.zyx_wgl			{ width:248px; height:255px; margin:10px 0 0 0; display:inline; background:#fafafa; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.zyx_wgl em							{ width:248px; height:32px; background-position:0 -301px; overflow:hidden; float:left;}

/*右边部分*/
.zyx_right	{ width:720px; margin:10px 0 0 0; display:inline; overflow:hidden; float:right;}

/*右边焦点部分*/
.zyx_right_focus	{ width:720px; height:299px; overflow:hidden; float:left;}

/*热门路线推荐*/
.zyx_rmlxtj			{ width:188px; height:297px; border:1px solid #e1e1e1; overflow:hidden; float:right;}
.zyx_rmlxtj em						{ width:152px; height:30px; padding:0 0 0 36px; background:#ac3767 url(../images/cty_rmlxtj_hot.png) no-repeat 4px 3px; font-size:14px; color:#FFF; line-height:29px; overflow:hidden; float:left;}
.zyx_rmlxtj ul						{ width:174px; height:261px; padding:7px 0 0 7px; overflow:hidden; float:left;}
.zyx_rmlxtj ul li					{ width:174px; height:130px; overflow:hidden; float:left;}
.zyx_rmlxtj ul li i					{ width:174px; height:87px; overflow:hidden; float:left;}
.zyx_rmlxtj ul li h1				{ width:174px; height:22px; line-height:24px; overflow:hidden; float:left;}
.zyx_rmlxtj ul li h1 a				{ color:#676767;}
.zyx_rmlxtj ul li h1 a:hover		{ color:#ff6633;}
.zyx_rmlxtj ul li span				{ width:174px; height:18px; color:#333333; overflow:hidden; float:left;}
.zyx_rmlxtj ul li span b			{ color:#e9360e;}

/*其他焦点*/
.zyx_focus_other	{ width:729px; height:118px; margin:10px 0 0 0; display:inline; overflow:hidden; float:left;}
.zyx_focus_other a					{ width:232px; height:116px; margin:0 9px 0 0; display:inline; border:1px solid #f4f4f4; overflow:hidden; float:left;}

/*玩转世界&走遍中国*/
.zyx_wzsj_zbzg			{ width:718px; height:371px; margin:10px 0 0 0; display:inline; border:1px solid #e1e1e1; overflow:hidden; float:left;}
.zyx_wzsj_zbzg dl					{ width:718px; height:34px; background:url(../images/index_son_bav_bg.png) repeat-x; overflow:hidden; float:left;}
.zyx_wzsj_zbzg dl dd				{ width:68px; height:16px; margin:8px 0 0 10px; display:inline; overflow:hidden; float:left;}
.zyx_wzsj_zbzg dl dt				{ height:24px; padding:0 11px 0 15px; color:#cccccc; line-height:32px; overflow:hidden; float:right;}
.zyx_wzsj_zbzg dl dt a				{ color:#666666;}
.zyx_wzsj_zbzg dl dt a:hover		{ color:#ff6633;}
.zyx_wzsj_zbzg dl dt i a			{ color:#cccccc;}
.zyx_wzsj_zbzg dl dt i a:hover		{ color:#ff6633;}
.zyx_wzsj_zbzg ul					{ width:694px; height:322px; padding:5px 0 0 10px; overflow:hidden; float:left;}
.zyx_wzsj_zbzg ul li				{ width:694px; height:81px; border-bottom:1px dotted #dfdfdf; overflow:hidden; float:left;}
.zyx_wzsj_zbzg ul li p				{ width:106px; height:64px; margin:8px 22px 0 0; display:inline; border:1px solid #e6e6e6; overflow:hidden; float:left;}
.zyx_wzsj_zbzg ul li em				{ width:472px; height:71px; overflow:hidden; float:left;}
.zyx_wzsj_zbzg ul li em h1			{ width:472px; height:26px; line-height:37px; overflow:hidden; float:left;}
.zyx_wzsj_zbzg ul li em h1 a		{ font-size:14px; font-weight:bold; color:#333333;}
.zyx_wzsj_zbzg ul li em h1 a:hover	{ color:#ff6633;}
.zyx_wzsj_zbzg ul li em h2			{ width:472px; height:21px; color:#666666; line-height:31px; overflow:hidden; float:left;}
.zyx_wzsj_zbzg ul li em h3			{ width:472px; height:21px; color:#816e59; line-height:31px; overflow:hidden; float:left;}
.zyx_wzsj_zbzg ul li em h3 b		{ color:#534134;}
.zyx_wzsj_zbzg ul li span			{ width:85px; height:64px; text-align:center; overflow:hidden; float:right;}
.zyx_wzsj_zbzg ul li span h3		{ width:85px; height:19px; padding:7px 0 9px 0; font-family:"黑体"; color:#666666; line-height:24px; overflow:hidden; float:left;}
.zyx_wzsj_zbzg ul li span h3 b		{ font-size:18px; color:#d22b70;}
.zyx_wzsj_zbzg ul li span a			{ width:80px; height:23px; background-position:-67px -186px; overflow:hidden; float:right;}
.zyx_wzsj_zbzg ul li span a:hover	{ background-position:-67px -209px;}